.ancor{
    margin-bottom: 50px;
    margin-top: 20px;
}
.navigate{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: green;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid goldenrod;
    background-color: gray;
    border-radius: 15px;
    padding: 10px;
}
nav a:hover{
    background-color: black;
    color: aliceblue;
    font-weight: bold;
}
.mar1{
    margin-left: 40px;
}
.mar2{
    margin-left: 40px;
}
.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.calender-box{
    display: flex;
    justify-content: center;
}
.calender-heading{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    width: 35%;
    color: aliceblue;
    background-color: cadetblue;
    padding: 15px;
    border-radius: 20px;
}
.day, .date{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 20px;
    color: green;
    font-weight: bold;
    font-size: 24px;
}
.day{
    background-color: gray;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding: 10px 20px;
}
.date:hover{
    cursor: pointer;
    background-color: cadetblue;
    color: aliceblue;
}
.bird-container img{
    width: 100%;
}
.bird-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 30px;
}
.bird-details{
    border: 2px solid salmon;
    border-radius: 10px;
}
.bird-details button{
    background-color: cadetblue;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700px;
    cursor: pointer;
}
.bird-details button:hover{
    background-color: bisque;
    color: green;
}
.bird-details h2{
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
.basic{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    color: darkcyan;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    display: flex;
    justify-content: center;
    width: 50%;
}
.order-baby{
    display: flex;
    justify-content: center;
}
ol > li{
    color: darkslategray;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.order-list{
    margin-bottom: 30px;
}
.image-column{
    display: flex;
    gap: 10px;
}
.image-column img{
    width: 100%;
}
.image-column div{
    width: 50%;
}
h4{
    color: darkslategray;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


@media screen and (max-width:576px) {
    .image-column{
        flex-direction: column-reverse;
    }
    .image-column img{
        width: 100%;
    }
    .image-column div{
        width: 100%;
    }
}







@media screen and (max-width: 576px) {
    .bird-container{
        grid-template-columns: repeat(2, 1fr);
        background-color: darkgray;
        color: aliceblue;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .bird-container{
        background-color: antiquewhite;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .navigate a{
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 576px) {
    .navigate a{
        display: flex;
        background-color: gray;
        color: cadetblue;
        font-size: 24px;
        font-weight: bold;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .mar1{
        margin-left: 0%;
    }
    .mar2{
        margin-left: 0%;
    }
}
@media screen and (max-width: 576px) {
    .mar1{
        margin-left: 0%;
    }
    .mar2{
        margin-left: 0%;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .day, .date{
        background-color: darkslategray;
        color: aliceblue;
    }
}
@media screen and (max-width: 576px) {
    .day, .date{
        background-color: gray;
        color: rgb(3, 84, 87);
    }
}
